.username ,.username1 ,.username3{
    background-color: transparent;
    border: 0;
    padding-left: 12px;
    width: 350px;
    height: 30px;
    color : white;
}
.username::placeholder {
    color: white ;
    opacity: 1; /* Firefox */
  }

.caixaiput{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    border-bottom: 2px solid black;
}
